<template>
  <div class="hello">
    
    <strong>Input Length:</strong> {{inputLength}} <br>
    <strong>Deflated/Encoded Length:</strong> {{deflatedLength}} <br>
    
    <strong>Reduction</strong><span v-if="inputLength > 0"> {{reductionPercentage}}</span>

    <h2>Input</h2>

    <textarea rows="20" cols="80" v-model='jsonString'></textarea>


    <h2>Deflated</h2>
    <div>{{ deflated}}</div>

    <h2>Encoded</h2>
    <div>{{urlEncoded}}</div>

    <h2>Decoded </h2>
    <div>{{urlDecoded}}</div>

    <h2>Inflated </h2>
    <textarea readonly rows="20" cols="80" v-model='inflated'></textarea>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Pako from 'pako';

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;

  private jsonString = `{
    "title": "Alex's links",
    "body-style": {
        "background-color": "#FFFFFF",
        "border-color": "#000000",
        "border-width": "3px"
    },
    "button-style": {
        "background-color": "#FFFFFF",
        "border-color": "#000000",
        "border-width": "3px",
        "border-radius": "10px",
    },
    "links": [
        {
            "title": "📖 Website",
            "url": "https://tallredman.xyz",
        },
        {
            "title": "🤓 Niche Studio",
            "url": "https://nichestud.io",
        },
        {
            "title": "🔔 World's Most Pathetic Elevator Chime",
            "url": "https://www.youtube.com/watch?v=bQtmm_lpUKI&list=",
        },
        
    ]
}`;

  get stringified() {
    if(this.jsonString.length > 100000){
      return 'Output capped at 100,000 characters to prevent crashing';
    }
    return this.jsonString;
    return this.jsonString.replace(/(\r\n|\n|\r)/gm, "");
  }

  get reductionPercentage() {
    return (this.inputLength / this.deflatedLength * 100).toString() + '%';
  }

  get inputLength(){
    return this.jsonString.length;
  }

  get deflatedLength(){
    return this.deflated.length;
  }

  get deflated() {
    let deflated = Pako.deflateRaw(this.stringified, {to: 'string'});
    return deflated;
  }

  get urlEncoded() {
    return this.Base64EncodeUrl(this.deflated);
  }

  get urlDecoded() {
    return this.Base64DecodeUrl(this.urlEncoded);
  }

  get inflated() {
    return Pako.inflateRaw(this.deflated, { to: 'string' })
  }

  Base64EncodeUrl(str: string) {
    
    return btoa(str)
      .replace(/\+/g, '-')
      .replace(/\//g, '_')
      .replace(/\=+$/, '');
  }

  Base64DecodeUrl(str: string) {
    // str = (str + '===').slice(0, str.length + (str.length % 4));
    return atob(str.replace(/-/g, '+').replace(/_/g, '/'));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
